{{ define "title" }}about{{ end }}

{{ define "main" }}
<pre class="center" title="made by ejm 97">
            _____          
           | |   \         
           | |    \        
           | |     \___    
           | |         \   
           | |          \  
    0     _|_|___________| 
   /\/  /____|____________) 
. /  \_|__________________| 
|/__    | )(            )(
| |\\  :| )(            )(
</pre>
<p>I am Harrison Warren. Here is my about page.</p>
{{ end}}

{{ define "footer" }}
<p class="center"><a href="/">Homepage</a><p>
{{ end }}
