{{ define "title" }}about{{ end }}

{{ define "main" }}
<pre class="center" title="made by ejm 97">
            _____          
           | |   \         
           | |    \        
           | |     \___    
           | |         \   
           | |          \  
    0     _|_|___________| 
   /\/  /____|____________) 
. /  \_|__________________| 
|/__    | )(            )(
| |\\  :| )(            )(
</pre>
<p>I am Harrison Warren. Here is my about page.</p>

<p>You can contact me at <a href="mailto:me@harrisonwarren.net">me@harrisonwarren.net</a>.</p>

<p>This site hosted and coded by my roommate <a href="https://www.angel-castaneda.com" target="_blank" rel="noopener noreferrer">Ángel</a></p>
{{ end}}

{{ define "footer" }}
<p class="center"><a href="/">Homepage</a><p>
{{ end }}
