{{ define "title" }}Harrison Site{{ end }}

{{ define "main" }}
<pre class="center" title="made by ejm 97">
   ___         
 [|   |=|{)__  
  |___| \/   ) 
   /|\      /| 
  / | \     | \
</pre>
<p>I am a film student and musician from Milwaukee, Wisconsin.</p>
<p>This site is currently being constructed, so most links and posts are currently not working.</p>
<table class="frontmatter">
  <tr>
    <td><a href="posts/something.html">2023</a></td>
    <td><a href="posts/something.html"><em>The Bird Ballad</em></a></td>
    <td><a href="posts/something.html">Film</a></td>
  </tr>
  <tr>
    <td><a href="posts/something.html">&nbsp</a></td>
    <td><a href="posts/something.html"><q>Cabinet of Curiosities</q></a></td>
    <td><a href="posts/something.html">Song</a></td>
  </tr>
  <tr>
    <td><a href="posts/the-all-consuming-arachnid.html">2022</a></td>
    <td><a href="posts/the-all-consuming-arachnid.html"><q>The All-Consuming Arachnid</q></a></td>
    <td><a href="posts/the-all-consuming-arachnid.html">Song</a></td>
  </tr>
  <tr>
    <td><a href="posts/something.html">&nbsp</a></td>
    <td><a href="posts/something.html"><q>First Signal</q></a></td>
    <td><a href="posts/something.html">Song</a></td>
  </tr>
  <tr>
    <td><a href="posts/something.html">&nbsp</a></td>
    <td><a href="posts/something.html"><em>Sound Map: River Line Trail</em></a></td>
    <td><a href="posts/something.html">Film</a></td>
  </tr>
  <tr>
    <td><a href="posts/something.html">&nbsp</a></td>
    <td><a href="posts/something.html"><q>End of Song</q></a></td>
    <td><a href="posts/something.html">Song</a></td>
  </tr>
  <tr>
    <td><a href="posts/something.html">&nbsp</a></td>
    <td><a href="posts/something.html"><q>St. Joan of Arc Chapel</q></a></td>
    <td><a href="posts/something.html">Song</a></td>
  </tr>
  <tr>
    <td><a href="posts/swan-song.html">2021</a></td>
    <td><a href="posts/swan-song.html"><em>Swan Song</em></a></td>
    <td><a href="posts/swan-song.html">Film</a></td>
  </tr>
  <tr>
    <td><a href="posts/something.html">2020</a></td>
    <td><a href="posts/something.html"><em>Transition 2</em></a></td>
    <td><a href="posts/something.html">Film</a></td>
  </tr>
  <tr>
    <td><a href="posts/something.html">&nbsp</a></td>
    <td><a href="posts/something.html"><em>Transition 1</em></a></td>
    <td><a href="posts/something.html">Film</a></td>
  </tr>
</table>
{{ end }}
