{{ define "title" }}Something will go here{{ end }}

{{ define "main" }}
<pre class="center" title="made by ejm 96">
*       *     *   *         *   *   *
     *    *         *            *   
 *      *      *        *    *       
      *     *       //              *
                   //            *   
          ___o |==//                 
         /\  \/  //|\                
        / /        | \               
        ` `        '  '              
</pre>
<p>
  Site isn't quite complete. This will go somewhere in the future!
</p>
{{ end }}

{{ define "footer" }}
<p class="center"><a href="/">Homepage</a><p>
{{ end }}
