{{ define "title" }}Swan Song{{ end }}

{{ define "main" }}
<div class="video">
  <div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6ZOBFXFUXqs" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
  </div>
</div>
{{ end }}

{{ define "footer" }}
<p class="center"><a href="/">Homepage</a><p>
{{ end }}
